<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TestContext" connectionString="Data Source=.\sqlexpress; Initial Catalog=ef_bulkinsert_test;uid=ef_bulkinsert_test;password=ef_bulkinsert_test;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ef_bulkinsert_db_firstEntities" connectionString="metadata=res://*/DbFirst.BloggingModel.csdl|res://*/DbFirst.BloggingModel.ssdl|res://*/DbFirst.BloggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ef_bulkinsert_db_first;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbFirstContext" connectionString="metadata=res://*/DbFirst.DbFirstModel.csdl|res://*/DbFirst.DbFirstModel.ssdl|res://*/DbFirst.DbFirstModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ef_bulkinsert_db_first;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlCeContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|Database1.sdf" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
</configuration>